.pagination {
  position: absolute;
  left: 30%;
}

.pagination > span {
  padding: 15px 20px;
  border: 1px solid gray;
  cursor: pointer;
}

.page_selected {
  background-color: rgb(220, 220, 220);
}

.products {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px 10px;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
